<!-- FONTS -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='./resume.css' rel='stylesheet' type='text/css'>

<!-- PAGE STUFF TO REFACTOR INTO EJS -->
<div class="rela-block page">
    <div class="rela-block top-bar">
        <div class="caps name">
            <!--Kyle J Shanks-->
            <div class="abs-center"><%= userFullName %></div>
        </div>
    </div>
    <div class="side-bar">
        <div class="mugshot">
            <div class="logo">
                <svg viewbox="0 0 80 80" class="rela-block logo-svg">
                    <path d="M 10 10 L 52 10 L 72 30 L 72 70 L 30 70 L 10 50 Z" stroke-width="2.5" fill="none"/>
                </svg>
                <!-- kj -->
                <p class="logo-text"><%= userInitials %></p>
            </div>
        </div>
        <!--123 My Place Drive -->
        <p><%= addressLineA %></p>
        <!--Astoria, New York 11105 -->
        <p><%= addressLineB %></p>
        <!--1-800-CALLPLZ -->
        <p><%= phoneNumber %></p>
        <!--emailsareforsquares@gmail.com -->
        <p><%= emailAddress %></p><br>
        <!--Twitter stuff-->
        <p class="rela-block social twitter"><%= userTwitterHandle %></p>
        <!--Pinterest things-->
        <p class="rela-block social pinterest"><%= userPinterestHandle %></p>
        <!--LinkedIn thing-->
        <p class="rela-block social linked-in"><%= userLinkedInHandle %></p>
        <p class="rela-block caps side-header">Expertise</p>
        <!--HTML-->
        <p class="rela-block list-thing"><%= userSkillA %></p>
        <!--CSS (Stylus)-->
        <p class="rela-block list-thing"><%= userSkillB %></p>
        <!--JavaScript & jQuery-->
        <p class="rela-block list-thing"><%= userSkillC %></p>
        <p class="rela-block list-thing"><%= userSkillD %></p>
        <p class="rela-block caps side-header">Education</p>
        <!-- Advanced potion making -->
        <p class="rela-block list-thing"><%= userEducationA %></p>
        <!-- Degree in popping and locking -->
        <p class="rela-block list-thing"><%= userEducationB %></p>
        <!-- Knitting game on point -->
        <p class="rela-block list-thing"><%= userEducationC %></p>
        <!--Culinary af-->
        <p class="rela-block list-thing"><%= userEducationD %></p>
    </div>
    <div class="rela-block content-container">
        <!-- Jr Front-End Developer-->
        <h2 class="rela-block caps title"><%= userjobTitle %></h2>
        <div class="rela-block separator"></div>
        <div class="rela-block caps greyed">Profile</div>
        <!--Retro DIY quinoa, mixtape williamsburg master cleanse bushwick tumblr chillwave dreamcatcher hella wolf paleo. Knausgaard semiotics truffaut cornhole hoodie, YOLO meggings gochujang tofu. Locavore ugh kale chips iPhone biodiesel typewriter freegan,
            kinfolk brooklyn kitsch man bun. Austin neutra etsy, lumbersexual paleo cornhole sriracha kinfolk meggings kickstarter.-->
        <p class="long-margin"><%= userProfileDesc %></p>
        <div class="rela-block caps greyed">Experience</div>

        <% completeJobs.forEach(function(job) { %>
        <!--job.title, job.description-->
        <!--Job #1-->
        <h3><%= job.name %></h3>
        <!--First job description-->
        <p class="light"><%= job.summary %></p>
        <!--Plaid gentrify put a bird on it, pickled XOXO farm-to-table irony raw denim messenger bag leggings. Hoodie PBR&B photo booth, vegan chillwave meh paleo freegan ramps. Letterpress shabby chic fixie semiotics. Meditation sriracha banjo pour-over.
            Gochujang pickled hashtag mixtape cred chambray. Freegan microdosing VHS, 90's bicycle rights aesthetic hella PBR&B. -->
        <p class="justified"><%= job.description %></p>
        <% }); %>
    </div>
</div>