<!DOCTYPE html>
<html lang="en">
<!-- FONTS -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='./resume.css' rel='stylesheet' type='text/css'>

<!-- PAGE STUFF TO REFACTOR INTO EJS -->
<div class="rela-block page">
    <div class="rela-block top-bar">
        <div class="caps name">
            <div class="abs-center"><%= user.userFullName %></div>
        </div>
    </div>
    <div class="side-bar">
        <div class="mugshot">
            <div class="logo">
                <svg viewbox="0 0 80 80" class="rela-block logo-svg">
                    <path d="M 10 10 L 52 10 L 72 30 L 72 70 L 30 70 L 10 50 Z" stroke-width="2.5" fill="none"/>
                </svg>
                <p class="logo-text"><%= user.userInitials %></p>
            </div>
        </div>
        <p><%= user.addressLineA %></p>
        <p><%= user.addressLineB %></p>
        <p><%= user.phoneNumber %></p>
        <p><%= user.emailAddress %></p><br>
        <p class="rela-block social twitter"><%= user.userTwitterHandle %></p>
        <p class="rela-block social pinterest"><%= user.userPinterestHandle %></p>
        <p class="rela-block social linked-in"><%= user.userLinkedInHandle %></p>
        <p class="rela-block caps side-header">Expertise</p>
        <p class="rela-block list-thing"><%= user.userSkillA %></p>
        <p class="rela-block list-thing"><%= user.userSkillB %></p>
        <p class="rela-block list-thing"><%= user.userSkillC %></p>
        <p class="rela-block list-thing"><%= user.userSkillD %></p>
        <p class="rela-block caps side-header">Education</p>
        <p class="rela-block list-thing"><%= user.userEducationA %></p>
        <p class="rela-block list-thing"><%= user.userEducationB %></p>
        <p class="rela-block list-thing"><%= user.userEducationC %></p>
        <p class="rela-block list-thing"><%= user.userEducationD %></p>
    </div>
    <div class="rela-block content-container">
        <h2 class="rela-block caps title"><%= user.userjobTitle %></h2>
        <div class="rela-block separator"></div>
        <div class="rela-block caps greyed">Profile</div>
        <p class="long-margin"><%= user.userProfileDesc %></p>
        <div class="rela-block caps greyed">Experience</div>

        <% user.userJobs.forEach(function(job) { %>
        <h3><%= job.name %></h3>
        <p class="light"><%= job.summary %></p>
        <p class="justified"><%= job.description %></p>
        <% }); %>
    </div>
</div>
</html>